apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-data
  namespace: go-blog
spec:
  storageClassName: cinder
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: asciinema-data
  namespace: go-blog
spec:
  storageClassName: cinder
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi